**/src/threads/thread_data.json
**/__pycache__/**
**/threads/thread_data.json
**/logs/session_*
**/test_runs/test_*
**/assets/**

# IDE files
*.iml
*.xml

# env files
.venv
.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/
